/* CONTACTO */

@import "variables";

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: $marron;

    border-style: $border-style;
    border-radius: $primary;
    box-shadow: 0 0 20px $shadow;

    font-size: 20px;
    margin: 50px;

    .item__contacto {
        padding: $primary;
        color: $blanco;
        font-family: $font;
    }

    .contacto__parrafo {
        padding: 15px;
        font-family: $font;
    }
}

/* MEDIA QUERIES-CONTACTO */

@media screen and (max-width: 769px) {
    .contacto {
    background-color: $marron;
    color: $blanco;
    width: auto;
    height: auto;
    padding: 0px 1rem 1rem 1rem;
    margin: 5px $primary 5px 15px;
    border: 2px solid rgb(91, 90, 90);
    border-radius: 10px;
    overflow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    position: static;
    box-shadow: 0 0 20px $shadow;

    .contacto__titulo {
        color: $blanco;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-family: $font;
        font-size: 35px;
        margin-bottom: 36px;
        text-transform: uppercase;
    }

    .contacto__subtitulo {
        color: $blanco;
        text-align: justify;
        font-style: normal;
        font-weight: bold;
        font-family: $font;
        padding: 16px 0px 0px 0px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .contacto__parrafo {
        text-align: justify;
        font-size: 15px;
        color: rgb(255, 255, 255);
        font-style: normal;
        font-weight: normal;
        font-family: $font;
    }
}
}