/* TABLA EVENTOS */

@import "variables";

.container-table {
    width: 90%;
    background: $blanco;
    margin: 50px auto;
    box-shadow: 0 0 20px $shadow;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;

    .table__title {
        grid-column-start: 1;
        grid-column-end: 5;
    
        background: rgb(30, 30, 30);
        color: $marron;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font;
        font-weight: bold;
        font-size: 1.0em;
    }

    .table__header {
        display: flex;
        justify-content: center;
        align-items: center;
    
        font-weight: bold;
        font-size: 1.0em;
    }

    .table__item {
        display: flex;
        justify-content: center;
        align-items: center;
    
        padding: $primary;
        font-size: 1.0em;
    
        .ubi:hover {
            transform: translateX(-6px);
            transition: all 150ms;
        }
    }
}