/* NAV-BAR */

@import "variables";

.nav-item {
    font-family: $font;
}

.nav-item:hover {
    border: solid;
    border-color: $marron;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}
